<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DynamoDB Posts</title>
		<style>
			table,
			th,
			td {
				border: 1px solid black;
				border-collapse: collapse;
				padding: 4px 8px;
			}
		</style>
	</head>
	<body>
		<h1>Posts from DynamoDB</h1>
		<table>
			<tr>
				<th>Post ID</th>
				<th>Social Media ID</th>
				<th>Location ID</th>
				<th>Description</th>
				<th>Severity</th>
				<th>Weather Type</th>
				<th>Date</th>
			</tr>
			{% for post in posts %}
			<tr>
				<td>{{ post.post_id }}</td>
				<td>{{ post.social_media_id }}</td>
				<td>{{ post.location_id }}</td>
				<td>{{ post.descritpion }}</td>
				<td>{{ post.severity }}</td>
				<td>{{ post.weather_type }}</td>
				<td>{{ post.date }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
