* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  z-index: 999; 
}

.menu-item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item img {
  max-width: 30px;
  cursor: pointer;
}
.menu-item.active {
  background: #ccc;
}



.main-content {
  margin-left: 60px; 
  min-height: 100%;
  display: flex;
  flex-direction: row;
  background-color:aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}


.welcome-content {
  margin-left: 60px; 
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color:aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  padding: 40px;

}
.welcome-content h1 {

  font-size:2cm;
  margin-bottom: 20px;
}

#main-left-part{
  display: flex;
  flex-direction: column;
}

.start-button {
  padding: 10px 5px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 23%;
  
}
.banner-image {
  max-width: 600px;
  align-self: flex-end;

}
.banner-image img {
  width: 100%;
  height: auto;
}


#leftPanel {
  width: 300px;
  background: #f8f8f8;
  padding: 10px;
  overflow-y: auto;
  max-height: 100vh;

}

#map {
  flex: 1;
  border: 1px solid #ccc;
  height: 100vh;
}


.hidden {
  display: none;
}

#searchContainer {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
#searchContainer input {
  flex: 1;
}
